@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina+2|Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}
.page {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.titulo {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 40px;
}
.contenido {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 100v;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.parrafo {
  font-family: "Baloo Bhaina 2", cursive;
}
.imagen {
  overflow: hidden;
}
.image {
  width: 100%;
  height: auto;
  /* margin-bottom: 10px; */
}

/* perzonalizados */
.elem-row {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-content: center; */
}
.w40 {
  width: 35%;
}
.w30 {
  width: 25%;
}
.w60 {
  width: 55%;
}
.w70 {
  width: 65%;
}
